<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="localhost_MIT_TEST_Connection" connectionString="XpoProvider=MSSqlServer;data source=121.140.146.176,2476;user id=sa;password=aodlfwjdqh2476!;initial catalog=MIT_TEST;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="DEFAULTPRINTER" value=""/>
		<add key="ADDRESS" value="121.140.146.176, 2476"/>
		<add key="S_UID" value="sa"/>
		<add key="S_PWD" value="aodlfwjdqh2476!"/>
		<add key="DATABASE" value="MIT_TEST"/>
		<add key="QUERYTIME" value="0"/>
	</appSettings>
</configuration>
